body {
    background-color: #031926;
    font-family: 'Montserrat';
}

#img_poke_api {
    position: absolute;
    width: 257px;
    height: 103px;
    left: 554px;
    top: 21px;
}

.title_form {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 29px;
    width: 314px;
    height: 29px;
}

.title_card {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
}

.subtitile_card {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
}

.parrafo_card{
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 15px;
}

.span_title_ability {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
}

.subtitile_form {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    width: 359px;
    height: 15px;
}

#div_card_filter {
    background: #F7F9F7;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    width: 536px;
    height: 120px;
    padding: 35px;
}

#div_card_results_pokemon,
#div_card_results_ability {
    background: #F7F9F7;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 536px;
    height: 180px;
    padding: 35px;
}

.input_pokemon_form {
    background: #E8E8E8;
    border-radius: 5px;
    border: 0;
    width: 98%;
    height: 27px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: black;
}

.etiqueta_table_form {
    font-style: normal;
    width: 44px;
    height: 15px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
}

.btn_find {
    background: #19A5F8;
    border-radius: 5px;
    border: 0px;
    width: 108px;
    height: 27px;
    float: right;
    cursor: wait;

    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #ffff;
}

.btn_clear {
    background: #19A5F8;
    border-radius: 5px;
    border: 0px;
    width: 108px;
    height: 27px;
    cursor: wait;

    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #ffff;
}

.imagen_pokemon {
    width: 45px;
    height: 45px;
    z-index: -1;
}